* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
background-color: white;
height: 80px;
width: 100vw;
position: fixed;
}
.nav-items {
    font-size: 15px;
    display: flex;
    flex-direction: row;
     justify-content: space-between; 
    column-gap: 3rem; 
    color: black;
}

.text-black {
    color: black;
}

#hero {
    background-image: url(./img/hero\ bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#hero-title {
    color: white;
    font-size: 6rem;
}

#hero-button {
  background-color: #01BA5B;  
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
}

.dog-pic {
    height: 100vh;
    width: 40vw;
    background-image: url(./img/whychoose.jpg);
    object-fit:fill;
    object-position: center;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* .dog-pic {
    object-fit:fill;
    object-position: center;
   width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repe at;
     
} */
  

.choose-us-items {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    width: 100vw; 
    
}

.choose-us-text {;
width:60vw;
}